*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    padding: 58px 98px;
}
.btn{
    display: block;
    padding: 26px;
    background-color: #000000;
    color: #FFFFFF;
    width: 750px;
    text-align: center;
    border-radius: 20px;
    font-size: 36px;
}
main{
    padding: 6px 98px 104px 0;
}
form{
    width: 750px;
}
form input, form textarea{
    width: 100%;
    padding: 22px;
    margin-bottom: 38px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid #FFFFFF;
    border-radius: 10px;
    outline: none;
}
form input::placeholder{
    font-size: 20px;
    color: #000000;
}
.textstyle{
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}
form textarea{
    margin-top: 12px;
    height: 154px;
    resize: none;
}
form div .textstyle{
    font-size: 20px;
    text-shadow: 0 0 3px #FFFFFF;
}
form div input{
    width: 40px;
    
}
form div.flex{
    justify-content: space-between;
    padding-left: 108px;
    margin-top: 46px;
}
input[type="submit"]{
    background-color: #01AF8C;
    border-bottom: 3px solid #000000;
    font-size: 20px;
}
section{
    background-color: #000000;
    color: #FFFFFF;
    padding: 70px 40px;
    width: 750px;
    text-align: center;
    border-radius: 20px;
}
section h2{
    font-size: 36px;
    margin-bottom: 60px;
}
section p{
    font-size: 20px;
}
main .btn{
    padding: 22px;
    font-size: 20px;
    background-color: #F5BA22;
    border-bottom: 3px solid #000000;
    color: #000000;
    margin-top: 300px;
}